name: monitor
services:
  postgres:
    image: postgres:15-alpine
    container_name: postgresql
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5438:5432"
    volumes:
      - ~/apps/monitor-postgres:/var/lib/postgresql/data
